################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LXP/.vs/LXP/FileContentIndex/19b87549-959e-4a83-900e-a84c4470d22a.vsidx
